# Delegate builds to bake for better performance
COMPOSE_BAKE=true

# for IMAGE_TAG=stage/release => IMAGE_NAME=git.traff.tools/sprut/roulette/apps
IMAGE_NAME=local/roulette-apps
IMAGE_TAG=dev

COMPOSE_PROFILES=tools,monitoring

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=roulette

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# PgAdmin (optional)
# Also check file pgadmin4.config.json
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Redis Configuration
REDIS_PASSWORD=redis123
REDIS_DB=0

# Redis Commander
REDIS_COMMANDER_USER=admin
REDIS_COMMANDER_PASSWORD=admin

# Telegram
TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_TEST_MODE=false
TELEGRAM_TOKEN=your_telegram_bot_token_here
TELEGRAM_NAME=your_telegram_bot_name_here
TELEGRAM_RESERVE_CHANNEL_ID=@your_telegram_channel

# Admin panel
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secure_password_here
SESSION_SECRET=super_secret_key_here
ADMIN_PORT=8080
ALLOWED_IPS=127.0.0.1,::1,192.168.1.100
DISABLE_IP_FILTERS=true

# OxaPay
DEFAULT_PAYMENT_PROVIDER=mock
OXAPAY_API_KEY=your_api_key

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Postgres Exporter
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=roulette
