{{- define "navbar" -}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Кнопка гамбургер для бокового меню -->
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar">
            <i class="bi bi-list"></i>
        </button>
        
        <!-- Логотип/название приложения -->
        <a class="navbar-brand text-truncate" href="/admin">Roulette Admin</a>
        
        <!-- На мобильных устройствах верхняя панель будет содержать только логотип и кнопку меню -->
        <div class="d-lg-none" style="width: 42px;"><!-- Пустой блок для выравнивания --></div>
                
        <!-- На десктопе показываем кнопку выхода в верхней панели -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-nav ms-auto d-flex align-items-center">
                {{ if .admin_user }}
                <div class="nav-item me-3 text-end d-none d-md-flex flex-column my-auto">
                    <span class="d-block text-white small fw-bold" style="line-height: 1.2;">
                        {{ .admin_user.FirstName }} {{ .admin_user.LastName }}
                    </span>
                    <span class="text-muted" style="font-size: 0.7rem; line-height: 0.5;">
                        {{ range $index, $role := .admin_user.Roles }}
                            {{ if $index }}, {{ end }}{{ $role.Name }}
                        {{ end }}
                    </span>
                </div>
                {{ end }}

                <div class="nav-item">
                    <a class="btn btn-outline-light btn-sm" href="/logout">
                        <i class="bi bi-box-arrow-right me-1"></i> Выход</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}
