{{define "public_header"}}
<!DOCTYPE html>
<html lang="{{ .lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{if .Title}}{{.Title}} | {{end}}Roulette Bot</title>
    <meta
      name="description"
      content="{{if .Description}}{{.Description}}{{else}}Roulette Bot - Telegram-бот для игры в социальную рулетку с системой проверки честности и рейтингами.{{end}}"
    />

    <!-- Bootstrap и иконки -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <script type="text/javascript">
      window.lang = "{{ .lang }}";

      const i18nEncoded = "{{ .i18n }}";
      const bytes = Uint8Array.from(atob(i18nEncoded), (c) => c.charCodeAt(0));
      const decoder = new TextDecoder("utf-8");
      window.i18n = JSON.parse(decoder.decode(bytes));
    </script>

    <!-- Общие стили -->
    <link href="/static/public/css/common.css" rel="stylesheet" />

    <!-- Дополнительные стили -->
    {{if .cssFiles}}{{range .cssFiles}}
    <link href="/static/public/css/{{.}}" rel="stylesheet" />
    {{end}}{{end}}
  </head>
  <body>
    {{end}}
  </body>
</html>
