{{define "public_privacy"}} {{template "public_base" .}} {{end}} {{define
"public_privacy_content"}}

<div class="main-container">
    <div class="container">

        <h1>{{ i18n .lang "privacy_h1" }}</h1>
        <p><b>{{ i18n .lang "version" }}</b> {{ i18n .lang "version_number" }}</p>
        <p><b>{{ i18n .lang "effective_date" }}</b> 06.10.2025</p>
        <p><b>{{ i18n .lang "contact_privacy" }}</b> <a href="https://t.me/sprutgames_supportbot" target="_blank">{{
                i18n .lang
                "contact_support" }}</a></p>
        <p>{{ i18n .lang "agreement" }}</p>
        <p><b>{{ i18n .lang "data_collection" }}</b></p>
        <p>{{ i18n .lang "data_processing_intro" }}</p>
        <ul>
            <li>{{ i18n .lang "telegram_ids" }}</li>
            <li>{{ i18n .lang "profile_settings" }}</li>
            <li>{{ i18n .lang "country" }}</li>
            <li>{{ i18n .lang "payments_and_wallets" }}</li>
            <li>{{ i18n .lang "gaming_data" }}</li>
            <li>{{ i18n .lang "technical_logs" }}</li>
            <li>{{ i18n .lang "data_sources" }}</li>
        </ul>
        <p><b>{{ i18n .lang "data_usage" }}</b></p>
        <ul>
            <li>{{ i18n .lang "provide_services" }}</li>
            <li>{{ i18n .lang "calculate_ratings" }}</li>
            <li>{{ i18n .lang "process_payments" }}</li>
            <li>{{ i18n .lang "ensure_security" }}</li>
            <li>{{ i18n .lang "improve_service" }}</li>
            <li>{{ i18n .lang "legal_obligations" }}</li>
        </ul>
        <p><b>{{ i18n .lang "legal_bases" }}</b></p>
        <ul>
            <li>{{ i18n .lang "user_request" }}</li>
            <li>{{ i18n .lang "legitimate_interest" }}</li>
            <li>{{ i18n .lang "consent" }}</li>
        </ul>
        <p><b>{{ i18n .lang "data_protection" }}</b></p>
        <ul>
            <li>{{ i18n .lang "security_measures" }}</li>
            <li>{{ i18n .lang "access_control" }}</li>
            <li>{{ i18n .lang "internal_audits" }}</li>
        </ul>
        <p><b>{{ i18n .lang "data_transfer" }}</b></p>
        <p>{{ i18n .lang "no_data_sale" }}</p>
        <ul>
            <li>{{ i18n .lang "hosting_providers" }}</li>
            <li>{{ i18n .lang "payment_providers" }}</li>
            <li>{{ i18n .lang "anonymized_analytics" }}</li>
        </ul>
        <p>{{ i18n .lang "data_processing_policy" }}</p>
        <p><b>{{ i18n .lang "international_transfer" }}</b></p>
        <p>{{ i18n .lang "data_protection_guarantees" }}</p>
        <p><b>{{ i18n .lang "storage_periods" }}</b></p>
        <ul>
            <li>{{ i18n .lang "gaming_data_storage" }}</li>
            <li>{{ i18n .lang "payment_records_storage" }}</li>
            <li>{{ i18n .lang "anonymized_analytics_storage" }}</li>
        </ul>
        <b>{{ i18n .lang "your_rights" }}</b>
        <p>{{ i18n .lang "rights_summary" }}</p>
        <ul>
            <li>{{ i18n .lang "data_access" }}</li>
            <li>{{ i18n .lang "correction" }}</li>
            <li>{{ i18n .lang "deletion" }}</li>
            <li>{{ i18n .lang "restriction" }}</li>
            <li>{{ i18n .lang "data_portability" }}</li>
            <li>{{ i18n .lang "complaint" }}</li>
        </ul>
        <p>{{ i18n .lang "how_to_request" }} <a href="https://t.me/sprutgames_supportbot" target="_blank">{{ i18n .lang
                "contact_support" }}</a>
        </p>
        <p>{{ i18n .lang "confirmation" }}</p>
        <p><b>{{ i18n .lang "telegram_specifics" }}</b></p>
        <p>{{ i18n .lang "telegram_controller" }}</p>
        <p><b>{{ i18n .lang "minimum_age" }}</b></p>
        <p>{{ i18n .lang "age_restrictions" }}</p>
        <p><b>{{ i18n .lang "automated_decisions" }}</b></p>
        <p>{{ i18n .lang "anti_fraud_checks" }}</p>
        <p><b>{{ i18n .lang "policy_changes" }}</b></p>
        <p>{{ i18n .lang "policy_updates" }}</p>
        <p><b>{{ i18n .lang "contacts" }}</b></p>
        <p>{{ i18n .lang "contact_privacy_info" }} <a href="https://t.me/sprutgames_supportbot" target="_blank">{{ i18n
                .lang "contact_support"
                }}</a></p>
        <p>{{ i18n .lang "response_time" }}</p>
    </div>
</div>
{{end}}